/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MEYER RESET */

* {
  box-sizing: border-box;
}

header {
  height: 3rem;
  background-color: rgba(242, 204, 134, 0.352);
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  font-weight: 900;
  font-size: 2rem;
}

.tv-show-container {
  display: flex;
  flex-wrap: wrap;
}

.tv-show {
  margin: 1rem;
}

.tv-show-name {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.6rem;
}

.tv-show-rating {
  color: grey;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.tv-show-summary {
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.tv-show-summary > p {
  line-height: 1.2;
}

.tv-show-image {
  width: 150px;
}
